sample-workflows/agentic-all-tools.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "upload an image or tell me what you'd like to do today?",
        "options": {
          "allowFileUploads": true,
          "loadPreviousSession": "memory",
          "subtitle": "",
          "title": "Adobe Firefly Agent",
          "customCss": "/* ===================================\n   Adobe Spectrum 2 Design System\n   Inspired by Adobe's modern design language\n   =================================== */\n\n:root {\n  /* Spectrum 2 Color Tokens - Light Theme */\n  --spectrum-gray-50: #ffffff;\n  --spectrum-gray-75: #fafafa;\n  --spectrum-gray-100: #f5f5f5;\n  --spectrum-gray-200: #e8e8e8;\n  --spectrum-gray-300: #d3d3d3;\n  --spectrum-gray-400: #bcbcbc;\n  --spectrum-gray-500: #9a9a9a;\n  --spectrum-gray-600: #787878;\n  --spectrum-gray-700: #5c5c5c;\n  --spectrum-gray-800: #3e3e3e;\n  --spectrum-gray-900: #2c2c2c;\n\n  --spectrum-blue-400: #5aa9fa;\n  --spectrum-blue-500: #378ef0;\n  --spectrum-blue-600: #1473e6;\n  --spectrum-blue-700: #0d66d0;\n  --spectrum-blue-800: #095aba;\n\n  /* Adobe Brand Gradient */\n  --adobe-gradient: linear-gradient(\n    135deg,\n    #ff0000 0%,\n    #d50057 50%,\n    #a100a1 100%\n  );\n  --adobe-gradient-dark: linear-gradient(\n    135deg,\n    #c20000 0%,\n    #990042 50%,\n    #6b0074 100%\n  );\n\n  --spectrum-accent-color-100: #e5f0ff;\n  --spectrum-accent-color-200: #cce0ff;\n  --spectrum-accent-color-600: #1473e6;\n  --spectrum-accent-color-700: #0d66d0;\n  --spectrum-accent-color-800: #095aba;\n\n  /* Semantic Colors */\n  --chat--color-primary: var(--spectrum-blue-600);\n  --chat--color-primary-hover: var(--spectrum-blue-700);\n  --chat--color-primary-active: var(--spectrum-blue-800);\n  --chat--color-accent: var(--spectrum-blue-500);\n  --chat--color-accent-light: var(--spectrum-accent-color-100);\n\n  --chat--color-white: var(--spectrum-gray-50);\n  --chat--color-background: var(--spectrum-gray-75);\n  --chat--color-surface: var(--spectrum-gray-50);\n  --chat--color-border: var(--spectrum-gray-300);\n  --chat--color-border-light: var(--spectrum-gray-200);\n\n  --chat--color-text: var(--spectrum-gray-900);\n  --chat--color-text-secondary: var(--spectrum-gray-700);\n  --chat--color-text-disabled: var(--spectrum-gray-500);\n\n  /* Typography - Spectrum 2 */\n  --chat--font-family:\n    \"adobe-clean\", \"Source Sans Pro\", -apple-system, BlinkMacSystemFont,\n    \"Segoe UI\", Roboto, sans-serif;\n  --chat--font-size-sm: 0.875rem;\n  --chat--font-size-base: 0.9375rem;\n  --chat--font-size-lg: 1.125rem;\n  --chat--font-size-xl: 1.5rem;\n  --chat--line-height-base: 1.5;\n  --chat--font-weight-normal: 400;\n  --chat--font-weight-medium: 500;\n  --chat--font-weight-bold: 700;\n\n  /* Spacing - Spectrum 2 8px grid */\n  --chat--spacing-xs: 0.25rem; /* 4px */\n  --chat--spacing-sm: 0.5rem; /* 8px */\n  --chat--spacing-md: 1rem; /* 16px */\n  --chat--spacing-lg: 1.5rem; /* 24px */\n  --chat--spacing-xl: 2rem; /* 32px */\n\n  /* Border Radius - Spectrum 2 */\n  --chat--border-radius-sm: 4px;\n  --chat--border-radius-md: 8px;\n  --chat--border-radius-lg: 12px;\n  --chat--border-radius-full: 50%;\n\n  /* Shadows - Spectrum 2 */\n  --chat--shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.08);\n  --chat--shadow-md: 0 2px 8px rgba(0, 0, 0, 0.1);\n  --chat--shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.12);\n\n  /* Transitions */\n  --chat--transition-fast: 130ms cubic-bezier(0.4, 0, 0.2, 1);\n  --chat--transition-base: 200ms cubic-bezier(0.4, 0, 0.2, 1);\n\n  /* Component-Specific Variables */\n  --chat--header--height: auto;\n  --chat--header--padding: var(--chat--spacing-lg) var(--chat--spacing-md);\n  --chat--header--background: var(--adobe-gradient);\n  --chat--header--border-bottom: none;\n\n  --chat--message--padding: var(--chat--spacing-sm);\n  --chat--message--border-radius: var(--chat--border-radius-md);\n  --chat--message--margin-bottom: var(--chat--spacing-md);\n  --chat--message--bot--background: var(--spectrum-gray-100);\n  --chat--message--bot--color: var(--chat--color-text);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--spectrum-gray-50);\n\n  --chat--input--height: 56px;\n  --chat--input--padding: var(--chat--spacing-md);\n  --chat--input--border-radius: var(--chat--border-radius-md);\n  --chat--input--background: var(--spectrum-gray-50);\n  --chat--input--border: 1px solid var(--chat--color-border);\n  --chat--input--focus-border: 2px solid var(--chat--color-primary);\n\n  --chat--button--size: 36px;\n  --chat--button--border-radius: var(--chat--border-radius-sm);\n}\n\n/* ===================================\n   Layout Components\n   =================================== */\n\n.chat-layout {\n  font-family: var(--chat--font-family);\n  font-size: var(--chat--font-size-base);\n  line-height: var(--chat--line-height-base);\n  color: var(--chat--color-text);\n  background: var(--chat--color-surface);\n  display: flex;\n  flex-direction: column;\n  height: 100%;\n  box-shadow: var(--chat--shadow-lg);\n  border-radius: var(--chat--border-radius-lg);\n  overflow: hidden;\n}\n\n/* ===================================\n   Header\n   =================================== */\n\n.chat-header {\n  padding: var(--chat--header--padding);\n  background: var(--chat--header--background);\n  border-bottom: var(--chat--header--border-bottom);\n  flex-shrink: 0;\n}\n\n.chat-heading h1 {\n  margin: 0;\n  font-size: var(--chat--font-size-xl);\n  font-weight: var(--chat--font-weight-bold);\n  color: var(--chat--color-text);\n  letter-spacing: -0.02em;\n}\n\n/* ===================================\n   Body & Messages\n   =================================== */\n\n.chat-body {\n  flex: 1;\n  overflow-y: auto;\n  background: var(--chat--color-background);\n  padding: var(--chat--spacing-md);\n}\n\n.chat-messages-list {\n  display: flex;\n  flex-direction: column;\n  gap: var(--chat--spacing-md);\n}\n\n.chat-message {\n  display: flex;\n  flex-direction: row;\n  max-width: 95%;\n  animation: slideIn var(--chat--transition-base);\n  padding: var(--chat--spacing-xs);\n  margin-top: var(--chat--spacing-xs);\n  border-radius: var(--chat--message--border-radius);\n  border-bottom-left-radius: var(--chat--spacing-xs);\n  border: 1px solid var(--spectrum-gray-200);\n  box-shadow: var(--chat--shadow-sm);\n}\n\n.chat-message img {\n  max-width: 100%;\n}\n\n.chat-message .chat-message-files {\n  padding-top: 0;\n  padding-left: var(--chat--spacing-xs);\n  padding-right: var(--chat--spacing-xs);\n}\n\n.chat-message .chat-message-files .chat-file {\n  padding: var(--chat--spacing-xs);\n}\n\n@keyframes slideIn {\n  from {\n    opacity: 0;\n    transform: translateY(8px);\n  }\n  to {\n    opacity: 1;\n    transform: translateY(0);\n  }\n}\n\n.chat-message-from-bot {\n  align-self: flex-start;\n  background: var(--spectrum-gray-100);\n  border-radius: var(--chat--message--border-radius);\n  padding: var(--chat--spacing-xs);\n}\n\n.chat-message-from-user {\n  align-self: flex-end;\n}\n\n.chat-message-from-bot .chat-message-markdown {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  padding: var(--chat--message--padding);\n}\n\n.chat-message-from-user .chat-message-markdown,\n.chat-message-from-user .chat-message-files {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n}\n.chat-message-from-user .chat-message-markdown,\n.chat-message-from-user .chat-message-files {\n  padding: var(--chat--message--padding);\n}\n\n.chat-message-markdown p {\n  margin: 0;\n  font-size: var(--chat--font-size-base);\n  line-height: var(--chat--line-height-base);\n}\n\n/* ===================================\n   Footer & Input\n   =================================== */\n\n.chat-footer {\n  padding: var(--chat--spacing-md);\n  background: var(--chat--color-surface);\n  border-top: 1px solid var(--chat--color-border-light);\n  flex-shrink: 0;\n}\n\n.chat-input {\n  display: flex;\n  flex-direction: column;\n  gap: var(--chat--spacing-sm);\n}\n\n.chat-inputs {\n  display: flex;\n  align-items: flex-end;\n  gap: var(--chat--spacing-sm);\n  background: var(--chat--input--background);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  padding: var(--chat--spacing-sm);\n  transition:\n    border-color var(--chat--transition-fast),\n    box-shadow var(--chat--transition-fast);\n}\n\n.chat-inputs:focus-within {\n  border: var(--chat--input--focus-border);\n  box-shadow: 0 0 0 1px var(--chat--color-primary);\n}\n\n.chat-inputs textarea {\n  flex: 1;\n  border: none;\n  outline: none;\n  background: transparent;\n  resize: none;\n  font-family: var(--chat--font-family);\n  font-size: var(--chat--font-size-base);\n  color: var(--chat--color-text);\n  line-height: var(--chat--line-height-base);\n  padding: var(--chat--spacing-sm);\n  min-height: 40px;\n  max-height: 200px;\n}\n\n.chat-inputs textarea::placeholder {\n  color: var(--chat--color-text-disabled);\n}\n\n/* ===================================\n   Buttons\n   =================================== */\n\n.chat-inputs-controls {\n  display: flex;\n  gap: var(--chat--spacing-xs);\n  align-items: center;\n}\n\n.chat-input-file-button,\n.chat-input-send-button {\n  width: var(--chat--button--size);\n  height: var(--chat--button--size);\n  border: none;\n  border-radius: var(--chat--button--border-radius);\n  background: transparent;\n  color: var(--chat--color-text-secondary);\n  cursor: pointer;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  transition: all var(--chat--transition-fast);\n  padding: 0;\n}\n\n.chat-input-file-button:hover,\n.chat-input-send-button:not([disabled]):hover {\n  background: var(--spectrum-gray-200);\n  color: var(--chat--color-primary);\n}\n\n.chat-input-file-button:active,\n.chat-input-send-button:not([disabled]):active {\n  background: var(--spectrum-gray-300);\n  transform: scale(0.95);\n}\n\n.chat-input-send-button:not([disabled]) {\n  color: var(--chat--color-primary);\n}\n\n.chat-input-send-button:not([disabled]):hover {\n  background: var(--chat--color-accent-light);\n  color: var(--chat--color-primary-hover);\n}\n\n.chat-input-send-button[disabled] {\n  color: var(--chat--color-text-disabled);\n  cursor: not-allowed;\n  opacity: 0.5;\n}\n\n.chat-input-file-button svg,\n.chat-input-send-button svg {\n  width: 20px;\n  height: 20px;\n}\n\n/* ===================================\n   Scrollbar Styling (Webkit)\n   =================================== */\n\n.chat-body::-webkit-scrollbar {\n  width: 8px;\n}\n\n.chat-body::-webkit-scrollbar-track {\n  background: transparent;\n}\n\n.chat-body::-webkit-scrollbar-thumb {\n  background: var(--spectrum-gray-400);\n  border-radius: 4px;\n}\n\n.chat-body::-webkit-scrollbar-thumb:hover {\n  background: var(--spectrum-gray-500);\n}\n",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [768, 288],
      "id": "ca1ca89a-c377-4152-aeff-8de281a46779",
      "name": "When chat message received",
      "webhookId": "9c9c12a8-230f-41ef-99d9-b7e2e877a11a",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an image manipulation agent that uses Firefly HTTP APIs to upload, transform, and generate images.\nAlways output in Markdown and include IDs + logs so context is never lost.\n\n\n✅ Rules\n\nRespond only in Markdown.\n\nBe concise — use short sections and bullet points.\n\nAlways include:\n\nSummary\n\nResults\n\nTraceability Table (IDs)\n\nTool Log (API calls, key params, status)\n\nIf no tool call was made, show: “No tool calls made.”\n\nInclude all returned IDs (upload_id, job_id, asset_id, request_id, etc.).\n\nIf a field isn’t returned → write n/a.\n\nRedact secrets in logs.\n\n🧩 Template\n### Summary\n<one-paragraph summary>\n\n### Results\n- Output: <brief result>\n- Preview: <url or n/a>\n- Params: <main settings>\n\n### Traceability\n<list upload_id, job_id, asset_id, request_id as neccessary in a list>\n\n\n### Next\n- <optional follow-up actions>\n\n⚠️ Failures\n\nIf a call fails → clearly say what failed, which ID, and next step.\nIf content violates policy → refuse politely.",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1632, 288],
      "id": "b737c561-665e-40ec-8e8a-83a961999fb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "uploadImage",
        "binaryProperty": "={{ $('When chat message received').item.binary.data0}}"
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [1376, 512],
      "id": "3fc705bb-a013-455c-b85c-3903cdcb514f",
      "name": "Upload Image",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "my-bucket",
        "fileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Name', `Always pick a name based on the file user provided`, 'string') }}",
        "binaryPropertyName": "={{ $('When chat message received').item.binary.data0}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3Tool",
      "typeVersion": 1,
      "position": [1504, 512],
      "id": "942cdd4a-4432-4696-96ac-fbeaf0efa639",
      "name": "Upload a file in S3",
      "credentials": {
        "s3": {
          "id": "e23yiA4L3UYmidMA",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "my-bucket",
        "fileKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Key', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.s3Tool",
      "typeVersion": 1,
      "position": [1632, 512],
      "id": "a452aff7-e10d-4365-9340-d13b8fceb5b0",
      "name": "Download a file in S3",
      "credentials": {
        "s3": {
          "id": "e23yiA4L3UYmidMA",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "A firefly service to generate images. all prompts must not exceed 1024 characters.",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "additionalOptions": {
          "contentClass": "={{ $fromAI('contentClass', 'Directs the style of a generated image to be photographic or like fine art. either \"photo\" or \"art\"') }}",
          "imageSize": "2048x2048",
          "negativePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Negative_Prompt', ``, 'string') }}",
          "numVariations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Variations', ``, 'number') }}",
          "seeds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seeds', ``, 'string') }}",
          "structureReference": {
            "sourceType": "uploadId",
            "uploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Upload_ID', ``, 'string') }}"
          },
          "styleReference": {
            "sourceType": "uploadId",
            "uploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Upload_ID', ``, 'string') }}"
          }
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [1760, 512],
      "id": "1666b83a-658d-43d6-aa35-2c2c51ce16a0",
      "name": "Gen Image",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1120, 512],
      "id": "5c1d6c41-e63f-4198-8b6b-a2339e2737e8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [992, 512],
      "id": "897b1ef5-ed05-4a08-8c6d-1b35c63df00a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WsTl7P2P0KpsU5KM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "generateVideoAsync",
        "videoPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "videoOptions": {
          "bitRateFactor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Bit_Rate_Factor', ``, 'number') }}",
          "cameraMotion": "={{ $fromAI('CameraMotion', 'The camera motion control.', 'string') }}",
          "keyframeUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyframe_Image_Upload_ID', ``, 'string') }}",
          "keyframePosition": 0,
          "promptStyle": "cinematic",
          "seed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seed', ``, 'number') }}",
          "shotAngle": "eye_level shot",
          "shotSize": "medium shot",
          "videoSize": "720x720"
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [1888, 512],
      "id": "394c4008-f056-4e29-b564-9fd457330c9d",
      "name": "Gen Video",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "expandImageAsync",
        "sourceImageUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Source_Image_Upload_ID', ``, 'string') }}",
        "expandOptions": {
          "height": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Height', ``, 'number') }}",
          "insetBottom": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Bottom', ``, 'number') }}",
          "insetLeft": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Left', ``, 'number') }}",
          "insetRight": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Right', ``, 'number') }}",
          "insetTop": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Top', ``, 'number') }}",
          "invertMask": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Invert_Mask', ``, 'boolean') }}",
          "numVariations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Variations', ``, 'number') }}",
          "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
          "seeds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seeds', ``, 'string') }}",
          "width": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Width', ``, 'number') }}"
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [2016, 512],
      "id": "523a6744-73f7-4fd1-9bcb-5009fd488eb1",
      "name": "Gen Expand",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fillImageAsync",
        "fillSourceImageUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Source_Image_Upload_ID', ``, 'string') }}",
        "fillMaskUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mask_Upload_ID', ``, 'string') }}",
        "fillOptions": {
          "invertMask": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Invert_Mask', ``, 'boolean') }}",
          "negativePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Negative_Prompt', ``, 'string') }}",
          "numVariations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Variations', ``, 'number') }}",
          "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
          "promptBiasingLocaleCode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt_Biasing_Locale_Code', ``, 'string') }}",
          "seeds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seeds', ``, 'string') }}",
          "size": "2048x2048"
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [2144, 512],
      "id": "51002428-138e-4dc1-8519-28f43612c33b",
      "name": "Gen Fill",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "generateSimilarImagesAsync",
        "similarImageUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reference_Image_Upload_ID', ``, 'string') }}",
        "similarOptions": {
          "numVariations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Variations', ``, 'number') }}",
          "seeds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seeds', ``, 'string') }}"
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [2272, 512],
      "id": "f49afc6d-2d9a-472d-8ef5-43d2a53a3910",
      "name": "Gen Similar",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "generateObjectCompositeAsync",
        "compositeImageUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Source_Image_Upload_ID', ``, 'string') }}",
        "compositePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "compositeOptions": {
          "contentClass": "photo",
          "insetBottom": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Bottom', ``, 'number') }}",
          "insetLeft": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Left', ``, 'number') }}",
          "insetRight": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Right', ``, 'number') }}",
          "insetTop": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inset_Top', ``, 'number') }}",
          "maskUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mask_Upload_ID', ``, 'string') }}",
          "numVariations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Variations', ``, 'number') }}",
          "seeds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seeds', ``, 'string') }}",
          "size": "2048x2048",
          "styleReferenceUploadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Style_Reference_Upload_ID', ``, 'string') }}",
          "styleStrength": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Style_Strength', ``, 'number') }}"
        }
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [2400, 512],
      "id": "1b4826c7-da55-4312-8496-74489f374e16",
      "name": "Gen Object Composite",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getJobStatus",
        "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_ID', ``, 'string') }}"
      },
      "type": "CUSTOM.fireflyServicesTool",
      "typeVersion": 1,
      "position": [1248, 512],
      "id": "fc7058d6-935a-4576-a3eb-b99d68f4181e",
      "name": "Job Status",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [784, 496],
      "id": "1c8f5d76-210e-4c26-a5dd-46472b6686c7",
      "name": "Simple Memory1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [[]]
    },
    "Upload Image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file in S3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download a file in S3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gen Image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gen Video": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gen Expand": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gen Fill": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gen Similar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gen Object Composite": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Job Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f32a6dab1cb21d21c71dc98697cfca18dbb21ac762a44e185b905684a8455836"
  }
}
