sample-workflows/image-to-video.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Holiday Campaign Video",
        "formDescription": "Input an image, this tool will animate it.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Background",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Start"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [-240, 96],
      "id": "d01994f2-fdae-4dbb-898e-5b8e7a1dd715",
      "name": "On form submission",
      "webhookId": "2401604f-8171-4775-9423-09cb838a4e7f"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe this image, then generate a prompt to be used to animate parts of this image.\n\nThe image submitted could be of a banner-style image that might have some abstract or other art in it. Your goal is to provide the best prompt for a video generative service to animate the image and bring it to life. The goal is festive because this will be used for a holiday banner campaign.\n\nagain, please ONLY respond with the prompt and nothing else",
        "inputType": "base64",
        "binaryPropertyName": "Background",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-16, 0],
      "id": "61e89e1f-ccc7-4bc1-9636-c8548941fe46",
      "name": "Describe Image",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "WsTl7P2P0KpsU5KM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadImage",
        "binaryProperty": "Background"
      },
      "type": "CUSTOM.fireflyServices",
      "typeVersion": 1,
      "position": [-16, 192],
      "id": "c778384f-d48f-4f2c-b106-be0ec3e9af66",
      "name": "upload",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [208, 96],
      "id": "4e0bb479-325c-4877-8ff7-d2913331e8db",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getJobStatus",
        "waitForCompletion": true,
        "pollingInterval": 2,
        "timeout": 4
      },
      "type": "CUSTOM.fireflyServices",
      "typeVersion": 1,
      "position": [880, 96],
      "id": "19a6e7c4-d56c-4cbf-b048-44a2d4a5c57b",
      "name": "wait for job",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<h4>The following prompt was generated by AI for your request, if you want to adjust it, enter it into the video prompt field below</h4>\n<br>\n<p style=\"border: solid 1px grey\">\n  <em>{{ $json.content }}</em>\n</p>\n<br>\n<br>"
            },
            {
              "fieldLabel": "Override Prompt",
              "fieldType": "textarea",
              "placeholder": "=copy from above or start fresh"
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [432, 96],
      "id": "a3f0d94b-2f72-48a7-a124-de089a476ef6",
      "name": "Confirm Prompt",
      "webhookId": "a34fe450-7944-49b5-9cda-86fc894f5afd"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "Video Result:",
              "html": "<video controls >\n  <source src=\"{{ $json.result.outputs[0].video.url }}\" type=\"video/mp4\" />\n  Download the\n  <a href=\"{{ $json.result.outputs[0].video.url }}\">MP4</a>\n</video>\n<br>\n<a class=\"download\" href=\"{{ $json.result.outputs[0].video.url }}\" download>Download</a>\n"
            }
          ]
        },
        "options": {
          "buttonLabel": "Done!",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 100%;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n    video {\n      margin: 0 auto;\n      max-width: 100%;\n    }\n    .download {\n      padding: 10px;\n      background: \n    }\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [1104, 96],
      "id": "6bebc695-3518-49c6-ad4a-07d25fb4e9c1",
      "name": "Preview",
      "webhookId": "4b60095c-ed0e-4408-991d-bb477b989c75"
    },
    {
      "parameters": {
        "operation": "generateVideoAsync",
        "videoPrompt": "={{ $json['Override Prompt'].length ? $json['video prompt'] : $('Describe Image').item.json.content }}",
        "videoOptions": {
          "bitRateFactor": 20,
          "cameraMotion": "camera locked down",
          "keyframeUploadId": "={{ $('upload').item.json.images[0].id }}",
          "keyframePosition": 1,
          "shotAngle": "eye_level shot",
          "videoSize": "960x540"
        }
      },
      "type": "CUSTOM.fireflyServices",
      "typeVersion": 1,
      "position": [656, 96],
      "id": "cd8d320a-aee1-4d07-a88c-071a0a54852d",
      "name": "Generate video",
      "credentials": {
        "fireflyServicesApi": {
          "id": "FCkqkLfuqPOyRdv4",
          "name": "Firefly Services account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Done!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [1328, 96],
      "id": "f1d1d9d2-c01a-4ba1-a100-7452b0dd8903",
      "name": "Form",
      "webhookId": "f20a9965-7ddf-4e44-bf28-00f31501ce23"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Describe Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Confirm Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait for job": {
      "main": [
        [
          {
            "node": "Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Prompt": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "wait for job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [[]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f32a6dab1cb21d21c71dc98697cfca18dbb21ac762a44e185b905684a8455836"
  }
}
